.log{
    margin: 0px;
    background-image: none;
    background-color: #2F4F4F;
}
.logleft{
    float: left;
}
.logright{
    margin-left: 50px;
    float: right;
}
.btnok{
    background-image: none;
    background-color: green;
}
.btncancel{
    background-color: red;
}

